{{extend 'layout.html'}}

{{block header}}
<div class="section-fade-out pt-5" style="background-image: url(&quot;https://image.freepik.com/fotos-gratis/mulher-com-cartao-de-desconto_1098-21705.jpg&quot;); background-position: bottom;background-size:contain;background-size: cover;" >
<div class="container mt-5 pt-5">
      <div class="row">
        <div class="col-md-6 my-5 text-lg-left text-center align-self-center">
          <h1 class="display-2"><b>FS New Credit</b></h1>
          <p class="lead">Emprestimos Com Cartão de Credito</p>
          <div class="row mt-5">
            <div class="col-6 col-lg-4">
              <center><i class="fa text-white mr-2 fa-android fa-5x"></i></center>
            </div>
            <div class="col-6 col-lg-4">
              <center><i class="fa text-white mr-2 fa-apple fa-5x"></i></center>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid d-block mx-auto" src="https://image.freepik.com/fotos-gratis/jovem-alegre-segurando-o-cartao-de-credito_171337-1568.jpg" width="600"> </div>
      </div>
    </div>
    </div>
{{end}}
<div class="py-5 text-center" >
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 p-4">
          <h4> <b>#1</b> </h4>
          <p>Valor disponível em até 1 hora útil,&nbsp;Valor disponível em até 1 hora útil</p>
        </div>
        <div class="col-lg-4 col-md-6 p-4">
          <h4> <b>#2</b> </h4>
          <p>Parcelamento em até 12 prestações,&nbsp;Você pode parcelar em até 12 meses, o que ficar mais viável para você.</p>
        </div>
        <div class="col-lg-4 col-md-6 p-4">
          <h4> <b>#3</b> </h4>
          <p>Não pedimos garantias,&nbsp;É isso mesmo: o seu limite de cartão de crédito já faz esse papel.</p>
        </div>
      </div>
    </div>
  </div>
<div class="py-5 text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .20), rgba(0, 0, 0, .20)), url(https://cdn.pixabay.com/photo/2014/02/01/18/01/money-256319_960_720.jpg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" >
<div class="container p-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-light mb-4">Como Funciona</h1>
        </div>
      </div>
      <div class="row text-dark">
        <div class="col-lg-4 p-3">
          <div class="card text-center">
            <div class="card-body p-4">
              <h3>Simule sem compromisso</h3>
              <p class="my-3 lead">Faça uma simulação sem compromisso com o valor que você necessita, considerando o limite do seu cartão de crédito</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card text-center">
            <div class="card-body p-4">
              <h3>Faça seu cadastro com a gente</h3>
              <p class="my-3 lead">Faça o cadastro com nossos consultores para receber o valor que você solicitou na simulação e detalhes da sua operação.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card text-center">
            <div class="card-body p-4">
              <h3>Receba o dinheiro na sua conta</h3>
              <p class="my-3 lead">Assim que o seu cadastro estiver completo, você recebe o dinheiro, em até 1 dia útil na sua conta corrente ou poupança</p>
            </div>
          </div>
        </div>
      </div>
    </div>
