<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="py-5" >
    <div class="container">
      <div class="row p-3">
        <div class="col-md-12">
          <h5 class="">Lista de Clientes</h5>
          <div class="row" id="noprint">
            <div class="col-md-6">

            </div>
             <div class="col-md-6" id="noprint">
            <div class="form-group row">
                <input type="text" class="form-control col-10 col-form-label" name="busca" placeholder="Faça uma pesquisa"  id="input" />
              <div class="col-2">
                 <a class=" botao">
                      <i class="fa text-success fa-search  fa-2x"></i>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped table-borderless">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                </tr>
              </thead>
              <tbody>
                  {{for row in rows:}}
                  {{cpf = [int(char) for char in row.cpf if char.isdigit()]}}
                  {{for i in range(9, 11):}}
        {{value = sum((cpf[num] * ((i+1) - num) for num in range(0, i)))}}
        {{digit = ((value * 10) % 11) % 10}}
        {{if digit != cpf[i]:}}
                  <tr class="table-danger" >
                      {{else:}}
                <tr>
                    {{pass}}
                    {{pass}}
                  <th scope="row">{{=row.nome}}</th>
                    {{row.cpf=(row.cpf).replace(".","").replace("-","")}}
                    {{row.cpf=""+(row.cpf)[0:3]+"."+(row.cpf)[3:6]+"."+(row.cpf)[6:9]+"-"+(row.cpf)[9:11]}}

                    {{row.telefone=(row.telefone).replace(".","").replace("-","").replace("(","").replace(")","").replace(" ","")}}
                    {{row.telefone="("+(row.telefone)[0:2]+") "+(row.telefone)[2:7]+"-"+(row.telefone)[7:11]}}


                </tr>
                  {{pass}}
              </tbody>
            </table>
          </div>

      <div class="row p-3">
        <div class="col-md-12">
            <nav aria-label="Navegação de página exemplo">
  <ul class="pagination justify-content-end">
        {{ if pagina != 1: }}
        <li class="page-item">
            <a class="page-link" href="{{ =URL(args=pagina-1) }}">&larr; Anterior</a>
        </li>
        {{ pass }}

        {{ if pagina != paginas: }}
        <li class="page-item">
            <a class="page-link" href="{{ =URL(args=pagina+1) }}">Próxima &rarr;</a>
        </li>
        {{ pass }}
    </ul>
</nav>
                </div>
        </div>
        </div>
      </div>
    </div>
  </div>
    </body>
<script>
    var inputElement = document.querySelector('input[name=busca]');
    var btnElement = document.querySelector('a.botao');

    btnElement.onclick = function(){
     var busca= inputElement.value;
        window.location.href = "{{=URL('lista_cliente_amostra')}}"+"/1/"+busca

    };
    $(document).keypress(function(e) {
    var busca= inputElement.value;
    if(e.which == 13) {
         var busca= inputElement.value;
        window.location.href = "{{=URL('lista_cliente_amostra')}}"+"/1/"+busca
    }
});
</script>
